body {
    background: #22303d; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #22303d, #22303d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #22303d, #22303d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-warning {
    background-color: #193350 !important;
}


h1 {
    font-size: 34px;
    color: white;
    font-family: 'Playfair Display', serif;
}

a {
    color: #eaeee6 !important;
    text-decoration: none;
    background-color: transparent;
}



.btn-success, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #22303d !important;
}


.btn-success:focus, .btn-success.focus {
    color: #fff;
    background-color: #333532;
    border-color: #333532;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(52, 53, 50, 0.5);
    box-shadow: 0 0 0 0.2rem  rgba(52, 53, 50, 0.5);
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #333532;
    border-color: #333532;
}


form {
    margin: 50px auto;
}
.contenido-principal {
    margin: 50px auto;
    background-color: white;
    -webkit-box-shadow: -1px 20px 52px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 20px 52px -13px rgba(0,0,0,0.75);
    box-shadow: -1px 20px 52px -13px rgba(0,0,0,0.75);
}
.mensajes {
    color: white;
}
#resultado {
    text-align: center;
}
.btn {
    width: 100%;
}
.contenido-spinner {
    display: none;
} 

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }
